# web

# python
__pycache__/
__pypackages__/
*.py[cod]
.ipynb_checkpoints/
*.ipynb

#################
# macos
.DS_Store

# linux
*~

# ide
.vscode/
.idea/

# more
back/
temp/
todo/
trash/

web/data
web/assets
# site/
